.container{
  background-color: brown;
  height: 789px;
  overflow: hidden;
}
.App {
  text-align: center;
  background-color: rgba(172, 172, 41, 0.4);
}
.alert{
  position: relative;
  cursor: pointer;
  margin: 40px auto;
  width: 50%;
}

.Viewer{
  width: 60%;
  margin:20px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
  overflow: hidden;
  background-color: rgba(255,255,255,0.4);
}
.alert:hover{
  background-color: rgba(255,255,255,0.8);
}